<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Park 3000</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=handleMapControlScriptLoaded' async defer></script>
    <script src="https://kit.fontawesome.com/34a1452dae.js" crossorigin="anonymous"></script>
    <link href=“https://fonts.googleapis.com/css?family=Open+Sans&display=swap” rel=“stylesheet”>

  

  </head>

  <body>
    <%= yield %>

    
  </body>
</html>
